<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
  </head>
  <body>
    <h1>Courses</h1>

    <table border="1">
      <thead>
        <tr>
          <th>Course</th>
          <th>Category</th>
          <th>Branch</th>
          <th>Contacts</th>
        </tr>
      </thead>
      <tbody>
        {% for cour in course %}
          <tr>
            <td>
              {{ cour.name }}<br>
              <small style="color: #888">{{ cour.description }}</small>
            </td>
            <td>
                {{ cour.category.name }}
            </td>
            <td>
                {{ cour.branches.address }}
            </td>
            <td>{{ cour.contacts.value }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>